<html lang='en'>

  <head>
    <title>Password Reset Request</title>

    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <style>
      .body { padding-bottom: 82px; font-size: 16px; background-color: rgba(0, 0, 0, 0.04); font-family: Arial,
      sans-serif } .header { background-color: #042940; padding: 23px 48px; border-radius: 16px 16px 0px 0px; } .main {
      max-width: 635px; margin: 0 auto; padding: 68px 0 51px 0; color: rgba(0, 0, 0, 0.74); line-height: 140%;
      letter-spacing: 0.16px; border-radius: 16px; } .content { background-color: #fff; padding: 51px 48px 87px 48px;
      border-radius: 0px 0px 16px 16px; } .content-main { margin: 24px 0 68px 0; } .content-main p { margin: 20px 0 0 0;
      } .content-main p:first { margin: 0; } .mfa-code { color: #000; font-style: normal; font-weight: 500; } .greeting
      { color: #321D36; font-style: normal; font-weight: 500; } .copyright { color: rgba(17, 18, 24, 0.54); text-align:
      center; font-size: 13px; font-family: Inter; line-height: 130%; } .salutation { font-family: Verdana, Geneva,
      sans-serif; } .action-link { font-size: 14px; font-weight: 500; color: #004C95; line-height: 140%; letter-spacing:
      0.42px; text-decoration: none; } .sub-text { color: rgba(0, 0, 0, 0.54); font-size: 14px; }
    </style>
  </head>

  <body>
    <div class='body'>
      <div class='main'>
        <div class='header'>
          <img src='https://axp-bucket.s3.ap-south-1.amazonaws.com/public-assets/logo.png' alt='AXP Logo' />
        </div>

        <div class='content'>
          <p class='greeting salutation'>Dear {{firstName}},</p>

          <div class='content-main'>
            <p>You recently requested a password reset for your AX Partner account. Click the link below to set a new
              password:</p>

            <p><a href='{{passwordResetUrl}}' class='action-link'>{{passwordResetUrl}}</a></p>
            <div class='sub-text'>* This link is valid for a week</div>

            <p>If you didn't make this request, please disregard this email. Your account remains secure.</p>

            <p>If you need further assistance, please contact our support team at [support email/phone number].</p>
          </div>

          <p>
            <div class='greeting'>Regards,</div>
            AX Partners Digital Technology Team
          </p>

        </div>
      </div>

      <div class='copyright'>© AX Partner Corporation 2023</div>
    </div>
  </body>

</html>